<%- include("header") -%>
  <br>
  <br>
  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle0 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-5 table_header">
            <label>Group Name</label>
          </div>
          <div class="col-lg-5 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems0.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
          <li class="list-group-item">
            <div class="row table_header">
              <div class="col-lg-2 table_header">
                <button class="btn btn-danger" type="submit" name="remove_row" value="<%= item.ID %>" onChange="this.form.submit()"> - </button>
                <input type="hidden" name="listName" value="<%= listTitle0 %>"></input>
              </div>
              <div class="col-lg-5 table_header">
                <label><%= item.GroupName %></label>
              </div>
              <div class="col-lg-5 table_header">
                <label><%= item.Comments %></label>
              </div>
            </div>
          </li>
        </form>  
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle0 %>"> + </button>
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="groupinfo_name" placeholder="Group Name" autocomplete="off">
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="groupinfo_comment" placeholder="Comment" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle1 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-2 table_header">
            <label>Name</label>
          </div>
          <div class="col-lg-2 table_header">
            <label>Code Name</label>
          </div>
          <div class="col-lg-3 table_header">
            <label>Link of Facility</label>
          </div>
          <div class="col-lg-3 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems1.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%= item.ID %>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle1 %>"></input>
            </div>
            <div class="col-lg-2 table_header">
              <label><%= item.Name %></label>
            </div>
            <div class="col-lg-2 table_header">
              <label><%= item.CodeName %></label>
            </div>
            <div class="col-lg-3 table_header">
              <label><%= item.LinkOfFacility %></label>
            </div>
            <div class="col-lg-3 table_header">
              <label><%= item.Comments %></label>
            </div>
          </div>
        </li>
        </form>
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle1 %>"> + </button>
          </div>
          <div class="col-lg-2 table_header">
            <input class="form-control" type="text" name="name" placeholder="Name" autocomplete="off">
          </div>
          <div class="col-lg-2 table_header">
            <input class="form-control" type="text" name="code_name" placeholder="Code Name" autocomplete="off">
          </div>
          <div class="col-lg-3 table_header">
            <input class="form-control" type="text" name="link_of_facility" placeholder="Link of Facility" autocomplete="off">
          </div>
          <div class="col-lg-3 table_header">
            <input class="form-control" type="text" name="comments" placeholder="Comments" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>
  
  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle2 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-3 table_header">
            <label>Type Name</label>
          </div>
          <div class="col-lg-2 table_header">
            <label>Size X (Width)</label>
          </div>
          <div class="col-lg-2 table_header">
            <label>Size Y (Height)</label>
          </div>
          <div class="col-lg-3 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems2.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%=item.ID%>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle2 %>"></input>
            </div>
            <div class="col-lg-3 table_header">
              <label><%= item.TypeName %></label>
            </div>
            <div class="col-lg-2 table_header">
              <label><%= item.SizeX %></label>
            </div>
            <div class="col-lg-2 table_header">
              <label><%= item.SizeY %></label>
            </div>
            <div class="col-lg-2 table_header">
              <label><%= item.Comments %></label>
            </div>
          </div>
        </li>
        </form>
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle2 %>"> + </button>
          </div>
          <div class="col-lg-3 table_header">
            <input class="form-control" type="text" name="type_name" placeholder="Type Name" autocomplete="off">
          </div>
          <div class="col-lg-2 table_header">
            <input class="form-control" type="number" name="size_x" placeholder="Size X (Width)" autocomplete="off">
          </div>
          <div class="col-lg-2 table_header">
            <input class="form-control" type="number" name="size_y" placeholder="Size Y (Height)" autocomplete="off">
          </div>
          <div class="col-lg-3 table_header">
            <input class="form-control" type="text" name="comment" placeholder="Comment" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle3 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-4 table_header">
            <label>Vendor Name</label>
          </div>
          <div class="col-lg-2 table_header">
            <label>Model Name</label>
          </div>
          <div class="col-lg-4 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems3.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%= item.ID %>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle3 %>"></input>
            </div>
            <div class="col-lg-4 table_header">
              <label><%= item.VendorName %></label>
            </div>
            <div class="col-lg-2 table_header">
              <label><%= item.ModelName %></label>
            </div>
            <div class="col-lg-4 table_header">
              <label><%= item.Comments %></label>
            </div>
          </div>
        </li>
        </form> 
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle3 %>"> + </button>
          </div>
          <div class="col-lg-4 table_header">
            <input class="form-control" type="text" name="vendor_name" placeholder="Vendor Name" autocomplete="off">
          </div>
          <div class="col-lg-2 table_header">
            <input class="form-control" type="text" name="model_name" placeholder="Model Name" autocomplete="off">
          </div>
          <div class="col-lg-4 table_header">
            <input class="form-control" type="text" name="comment" placeholder="Comment" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle4 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-5 table_header">
            <label>Name</label>
          </div>
          <div class="col-lg-5 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems4.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%= item.ID %>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle4 %>"></input>
            </div>
            <div class="col-lg-5 table_header">
              <label><%= item.Name %></label>
            </div>
            <div class="col-lg-5 table_header">
              <label><%= item.Comments %></label>
            </div>
          </div>
        </li>
        </form> 
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle4 %>"> + </button>
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="name" placeholder="Name" autocomplete="off">
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="comment" placeholder="Comment" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle5 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-5 table_header">
            <label>Name</label>
          </div>
          <div class="col-lg-5 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems5.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%=item.ID%>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle5 %>"></input>
            </div>
            <div class="col-lg-5 table_header">
              <label><%= item.Name %></label>
            </div>
            <div class="col-lg-5 table_header">
              <label><%= item.Comments %></label>
            </div>
          </div>
        </li>
        </form>
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle5 %>"> + </button>
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="name" placeholder="Name" autocomplete="off">
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="comment" placeholder="Comment" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle6 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-5 table_header">
            <label>Method Name</label>
          </div>
          <div class="col-lg-5 table_header">
            <label>Method Description</label>
          </div>
        </div>
      </li>
      <% newListItems6.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%=item.ID%>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle6 %>"></input>
            </div>
            <div class="col-lg-5 table_header">
              <label><%= item.MethodName %></label>
            </div>
            <div class="col-lg-5 table_header">
              <label><%= item.MethodDescription %></label>
            </div>
          </div>
        </li>
        </form>
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle6 %>"> + </button>
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="method_name" placeholder="Method Name" autocomplete="off">
          </div>
          <div class="col-lg-5 table_header">
            <input class="form-control" type="text" name="method_description" placeholder="Method Description" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle7 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-3 table_header">
            <label>Event Type</label>
          </div>
          <div class="col-lg-1 table_header">
            <label>For Subframe</label>
          </div>
          <div class="col-lg-1 table_header">
            <label>For ROI</label>
          </div>
          <div class="col-lg-1 table_header">
            <label>For Sample</label>
          </div>
          <div class="col-lg-1 table_header">
            <label>For Target</label>
          </div>
          <div class="col-lg-3 table_header">
            <label>Comments</label>
          </div>
        </div>
      </li>
      <% newListItems7.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%=item.ID%>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle7 %>"></input>
            </div>
            <div class="col-lg-3 table_header">
              <label><%= item.EventType %></label>
            </div>
            <div class="col-lg-1 table_header">
              <label><%= item.ForSubframe %></label>
            </div>
            <div class="col-lg-1 table_header">
              <label><%= item.ForROI %></label>
            </div>
            <div class="col-lg-1 table_header">
              <label><%= item.ForSample %></label>
            </div>
            <div class="col-lg-1 table_header">
              <label><%= item.ForTarget %></label>
            </div>
            <div class="col-lg-3 table_header">
              <label><%= item.Comments %></label>
            </div>
          </div>
        </li>
        </form>
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle7 %>"> + </button>
          </div>
          <div class="col-lg-3 table_header">
            <input class="form-control" type="text" name="event_type" placeholder="Event Type" autocomplete="off">
          </div>
          <div class="col-lg-1 table_header">
            <input type="checkbox" class="form-check-input" name="checkbox_subframe">
          </div>
          <div class="col-lg-1 table_header">
            <input type="checkbox" class="form-check-input" name="checkbox_roi">
          </div>
          <div class="col-lg-1 table_header">
            <input type="checkbox" class="form-check-input" name="checkbox_sample">
          </div>
          <div class="col-lg-1 table_header">
            <input type="checkbox" class="form-check-input" name="checkbox_target">
          </div>
          <div class="col-lg-3 table_header">
            <input class="form-control" type="text" name="comment" placeholder="Comment" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>

  <hr>

  <div class="card" style="width: 60rem;">
    <div class="card-header">
      <%= listTitle8 %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row table_header">
          <div class="col-lg-2 table_header">
          </div>
          <div class="col-lg-10 table_header">
            <label>Position Name</label>
          </div>
        </div>
      </li>
      <% newListItems8.forEach(function(item){ %>
        <form class="item" action="/removeFromTable" method="post">
        <li class="list-group-item">
          <div class="row table_header">
            <div class="col-lg-2 table_header">
              <button class="btn btn-danger" type="submit" name="remove_row" value="<%=item.ID%>" onChange="this.form.submit()"> - </button>
              <input type="hidden" name="listName" value="<%= listTitle8 %>"></input>
            </div>
            <div class="col-lg-10 table_header">
              <label><%= item.PositionName %></label>
            </div>
          </div>
        </li>
        </form>
      <% }) %>
      <form class="item" action="/addToTable" method="post">
        <div class="row table_header">
          <div class="col-lg-2">
            <button class="btn btn-success add" type="submit" name="list" value="<%= listTitle8 %>"> + </button>
          </div>
          <div class="col-lg-10 table_header">
            <input class="form-control" type="text" name="position_name" placeholder="Position Name" autocomplete="off">
          </div>
        </div>
      </form>
    </ul>
  </div>
  <%- include("footer") -%>