<%- include("../header") -%>
   
<div class="row twopanel">
    <div class="col-lg-12">
        <h1 class="site_msg" style="text-align: center;">
        <b>Subframe holds all the information in the hierarchy.</b>
        <br>
        <br>
        <div class="row">
            <img class="center" src='subframe.jpg' alt="Subframe Photo">
        </div>
        <br>
        <br>
            Header Information for the Subframe <b><%= external_id %></b>
        </h1>
    </div>
</div>

<form action="/DEFAULT_URL" method="POST">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="label-text">Facility</label>
                <input type="text" name="facility_name" class="form-control"
                value="<%= subframe_header[0]['FacilityID'] %>" disabled>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="label-text">Subframe Type</label>
                <input type="text" name="subframe_type_name" class="form-control"
                value="<%= subframe_header[0]['SubframeTypeID'] %>" disabled>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="label-text">Serial Number</label>
                <input type="text" name="serial_number" class="form-control"
                value="<%= subframe_header[0]['SerialNumber'] %>" disabled>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <label class="label-text">Created Time</label>
                <input type="text" name="created_time" class="form-control"
                value="<%= subframe_header[0]['CreateTimeStamp'].toUTCString() %>" disabled>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text">Comments</label>
                <textarea class="form-control"
                    id="comments" name="comments"
                    placeholder="Insert comments related to the Subframe..."
                    rows="1" maxlength="200"></textarea>
            </div>
        </div>
        <div class="col-lg-6">
            <label class="label-text">
                Choose the Group
            </label>
            <select class="form-control" id="filters_group"
                name="filters_group">
                <% if(subframe_header[0]['GroupID']==null) { %>
                    <option selected>Not Specified</option>
                    <% for(let idx=0; idx < groups.length; idx++) { %>
                        <option><%= groups[idx]['GroupName'] %></option>
                    <% } %>
                <% } else { %>
                    <% for(let idx=0; idx < groups.length; idx++) { %>
                        <% if(subframe_header[0]['GroupID'] == groups[idx]['GroupName']) { %>
                            <option selected><%= groups[idx]['GroupName'] %></option>
                        <% } else { %>
                            <option><%= groups[idx]['GroupName'] %></option>
                        <% } %>
                    <% } %>
                <% } %>
            </select>
        </div>
    </div>

    <br>

    <div class="row twopanel">
        <div class="col-lg-2">
            <div class="form-group">
                <label class="form-check-label" for="subframe_validity">
                    Subframe Validity
                </label>
                <input type="checkbox" class="form-check-input"
                    id="subframe_validity" name="subframe_validity"
                    onchange="toggleFunction()"
                    <% if (subframe_header[0]["Validity"] == 1) { %>
                        checked
                    <% } %>
                    >
            </div>
        </div>
        <div class="col-lg-5">    
            <div class="form-group">
                <label class="label-text">
                    Enter the Invalidity Date (*)
                </label>
                <input class="form-control" type="date"
                id="invalidity_date" name="invalidity_date" min="2012-01-01"
                max="2040-12-31"
                <% if (subframe_header[0]["Validity"] == 1) { %>
                    disabled
                <% } %>
                >
            </div>
        </div>
        <div class="col-lg-5">    
            <div class="form-group">
                <label class="label-text">
                    Enter the Invalidity Time (*)
                </label>
                <input class="form-control" type="time"
                id="invalidity_time" name="invalidity_time"
                <% if (subframe_header[0]["Validity"] == 1) { %>
                    disabled
                <% } %>
                >
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/submitSubframeInformation"
                id="submit_information_for_subframe"
                onclick="checkValues()"
                name="submit_information_for_subframe" value="0">
                    Submit the Information to the Database
            </button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/insertSubframeInformationManually"
                id="insert_subframe_information"
                name="insert_subframe_information"
                value="1">
                    Cancel and Go Back
            </button>
        </div> 
    </div>
</form>

<form action="/" method="get">
    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                name="cancel_and_return_to_main" value="0">
                    <b>Cancel and Return to the Main Page</b>
            </button>
        </div>
    </div>
</form>

<script>
    function toggleFunction() {
      let x = document.getElementById("subframe_validity");
      const date_input = document.getElementById("invalidity_date");
      const time_input = document.getElementById("invalidity_time");

      if (x.checked){
        date_input.disabled = true;
        time_input.disabled = true;
      } else {
        date_input.disabled = false;
        time_input.disabled = false;
      }
    }

    function checkValues() {
        let x = document.getElementById("subframe_validity");

        if (!x.checked){
            let data_value = document.getElementById("invalidity_date").value;
            let time_value = document.getElementById("invalidity_time").value;
        
            if (data_value == ""){
                alert("Invalidity Date is not Inserted!");
                event.preventDefault();
                return;
            }
            
            if (time_value == ""){
                alert("Invalidity Time is not Inserted!");
                event.preventDefault();
                return;
            }
        }
    }
</script>

<%- include("../footer") -%>
