<%- include("../header") -%>
   
<div class="row twopanel">
    <div class="col-lg-12">
        <h1 class="site_msg" style="text-align: center;">
        <em>Subframe holds all the information in the hierarchy.</em>
        <br>
        <br>
        <div class="row">
            <img class="center" src='subframe.jpg' alt="Subframe Photo">
        </div>
        <br>
        <br>
            Information for the Subframe <%= subframe_id %>
        </h1>
        <h2 class="site_msg" style="text-align: center;">
            Insert Subframe Information
        </h2>
    </div>
</div>

<form action="/DEFAULT_URL" method="post">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Facility</label>
                <input type="text" name="facility_name" class="form-control"
                value="<%= subframe_information[0]['FacilityID'] %>" disabled>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Subframe Type</label>
                <input type="text" name="fsubframe_type_name" class="form-control"
                value="<%= subframe_information[0]['SubframeTypeID'] %>" disabled>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Serial Number</label>
                <input type="text" name="facility_name" class="form-control"
                value="<%= subframe_information[0]['SerialNumber'] %>" disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="label-text">Created Time</label>
                <input type="text" name="facility_name" class="form-control"
                value="<%= subframe_information[0]['CreateTimeStamp'].toUTCString() %>" disabled>
            </div>
        </div>
    </div>

    <br>
                
    <div class="row">
        <hr>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text" for="group_select">Select the Group</label>
                <select class="form-control" id="group_select" name="group_name">
                    <option selected>Choose...</option>
                    <% for(let idx=0; idx < group_information.length; idx++){ %>
                        <% if(subframe_information[0]['GroupID']==group_information[idx]['GroupName']) { %>
                            <option selected><%= group_information[idx]['GroupName'] %></option>
                            <% selected = 1 %>
                        <% } else { %>
                            <option><%= group_information[idx]['GroupName'] %></option>
                        <% } %>
                    <% } %>             
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="subframe_comments" class="label-text">Enter Comments Related to the Subframe</label>
                <textarea class="form-control" id="subframe_comments" name="subframe_comments" rows="2"
                    minlength="0" maxlength="100" placeholder="Maximum 100 characters are accepted"></textarea>
            </div>        
        </div>
    </div>

    <br>

    <div class="row twopanel">
        <div class="form-check">
            <label class="form-check-label" for="subframe_validity">Valid</label>
            <% if(subframe_information[0]['Validity']==0){ %>
                <input type="checkbox" class="form-check-input"
                data-bs-toggle="collapse"
                href="#validityCollapse"
                aria-expanded="true"
                id="subframe_validity" name="subframe_validity"
                onchange="toggleButtonsFunction()">
            <% } else { %>
                <input type="checkbox" class="form-check-input"
                data-bs-toggle="collapse"
                href="#validityCollapse"
                aria-expanded="false"
                id="subframe_validity" name="subframe_validity"
                onchange="toggleButtonsFunction()"
                checked>
            <% } %>
        </div>
        <% if(subframe_information[0]['Validity']==0){ %>
            <div class="collapse show" id="validityCollapse">
        <% } else { %>
            <div class="collapse" id="validityCollapse">
        <% } %>
            <div class="row twopanel">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="label-text">Enter the Subframe Invalidity Date (*)</label>
                        <% if(subframe_information[0]['Validity']==0){ %>
                            <input class="form-control" type="date" id="subframe_invalid_date"
                            name="subframe_invalid_date"
                            min="2012-01-01"
                            max="2040-12-31"
                            value="2023-08-16">
                        <% } else { %>
                            <input class="form-control" type="date" id="subframe_invalid_date"
                            name="subframe_invalid_date"
                            min="2012-01-01"
                            max="2040-12-31">
                        <% } %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="label-text">Enter the Subframe Invalidity Time (*)</label>
                        <input class="form-control" type="time" id="subframe_invalid_time"
                            name="subframe_invalid_time">
                    </div>
                </div>
            </div>
            <br>
        </div>
        <hr>
    </div>

    <br>

    <% if(subframe_information[0]['Validity']==0){ %>
        <div class="row twopanel">
            <div class="row">
                <button class="btn btn-outline-secondary" type="submit"
                    formaction="/createSubframeEvent"
                    id="create_event_for_subframe"
                    name="create_event_for_subframe" value="0" disabled>
                        Create Event for the Subframe
                </button>
            </div>    
        </div>
    <% } else { %>
        <div class="row twopanel">
            <div class="row">
                <button class="btn btn-outline-secondary" type="submit"
                    formaction="/createSubframeEvent"
                    id="create_event_for_subframe"
                    name="create_event_for_subframe" value="0">
                        Create Event for the Subframe
                </button>
            </div>    
        </div>
    <% } %>

    <% if(subframe_information[0]['Validity']==0){ %>
        <div class="row twopanel">
            <div class="row">
                <button class="btn btn-outline-secondary" type="submit"
                    formaction="/createSubframeROI"
                    id="create_roi_for_subframe"
                    name="create_roi_for_subframe" value="0" disabled>
                        Create Region of Interest (ROI) in the Subframe
                </button>
            </div>
        </div>
    <% } else { %>
        <div class="row twopanel">
            <div class="row">
                <button class="btn btn-outline-secondary" type="submit"
                    formaction="/createSubframeROI"
                    id="create_roi_for_subframe"
                    name="create_roi_for_subframe" value="0">
                        Create Region of Interest (ROI) in the Subframe
                </button>
            </div>
        </div>
    <% } %>

    <% if(subframe_information[0]['Validity']==0){ %>
        <div class="row twopanel">
            <div class="row">
                <button class="btn btn-outline-secondary" type="submit"
                    formaction="/createSubframeTarget"
                    id="create_target_for_subframe"
                    name="create_target_for_subframe" disabled>
                        Create Target in the Subframe
                </button>
            </div>
        </div>
    <% } else { %>
        <div class="row twopanel">
            <div class="row">
                <button class="btn btn-outline-secondary" type="submit"
                    formaction="/createSubframeTarget"
                    id="create_target_for_subframe"
                    name="create_target_for_subframe">
                        Create Target in the Subframe
                </button>
            </div>
        </div>
    <% } %>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/submitAndReturnToMain"
                id="submit_the_data_to_db"
                onclick="checkValues(event)"
                name="submit_the_data_to_db" value="0">
                    Submit the Data to Database <em>and Return to the Main Page</em>
            </button>
        </div>
    </div>
</form>

<form action="/" method="get">
    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                name="cancel_and_return_to_main" value="0">
                    Cancel <em>and Return to the Main Page</em>
            </button>
        </div>
    </div>
</form>

<script>
    function toggleButtonsFunction() {
      let x = document.getElementById("subframe_validity");
      const button_1 = document.getElementById("create_event_for_subframe");
      const button_2 = document.getElementById("create_roi_for_subframe");
      const button_3 = document.getElementById("create_target_for_subframe");

      if (x.checked){
        button_1.disabled = false;
        button_2.disabled = false;
        button_3.disabled = false;
      } else {
        button_1.disabled = true;
        button_2.disabled = true;
        button_3.disabled = true;
      }
    }

    function checkValues() {
        let x = document.getElementById("subframe_validity");

        if (!x.checked){
            let data_value = document.getElementById("subframe_invalid_date").value;
            let time_value = document.getElementById("subframe_invalid_time").value;
        
            if (data_value == ""){
                alert("Invalidity Date is not Inserted!");
                event.preventDefault();
            }
            
            if (time_value == ""){
                alert("Invalidity Time is not Inserted!");
                event.preventDefault();
            }
        }
    }
</script>

<%- include("../footer") -%>