
<%- include("../header") -%>
<div class="row twopanel">
    <div class="col-lg-12">
        <h1 class="site_msg" style="text-align: center;">
            <em>ROI belongs to Subframe and holds all the information for Sample(s)
                and Target(s).</em>
        <br>
        <br>
        <div class="row">
            <img class="center" src='roi.jpg' alt="ROI Photo">
        </div>
        <br>
        <br>
            Region of Interest (ROI) for the Subframe <%= insert_subframe_information[0]['value'] %>
        </h1>
    </div>
</div>

<form action="/DEFAULT_URL" method="post">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text" for="device_select">Select the Device</label>
                <select class="form-control" id="device_select" name="device_name">
                    <% for(let idx=0; idx < device_lists.length; idx++){ %>
                            <option><%= device_lists[idx]['VendorName'] %></option>
                    <% } %>
                        <option selected>Choose...</option>                
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text" for="event_select">Select the Event Type</label>
                <select class="form-control" id="event_select" name="event_name">
                    <% for(let idx=0; idx < event_types.length; idx++){ %>
                            <option><%= event_types[idx]['EventType'] %></option>
                    <% } %>
                        <option selected>Choose...</option>                
                </select>
            </div>        
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Enter the Quality of ROI</label>
                <input type="number" name="roi_quality" class="form-control"
                    placeholder="values between 0 and 100 are accepted"
                    min="0" max="100">
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col-lg-6">
            <label for="EventLinkToData" class="form-label label-text">
                Insert the Link to the Data
            </label>
            <input class="form-control" type="file" id="EventLinkToData"
                name="event_link_to_data">
        </div>
        <div class="col-lg-6">
            <label for="EventLinkToMetaData" class="form-label label-text">
                Insert the Link to the Meta Data
            </label>
            <input class="form-control" type="file" id="EventLinkToMetaData"
                name="event_link_to_meta_data">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">    
            <div class="form-group">
                <label class="label-text">
                    Enter the Date of the Event
                </label>
                <input class="form-control" type="date"
                id="event_date" name="event_date" min="2012-01-01"
                max="2040-12-31">
            </div>
        </div>
        <div class="col-lg-6">    
            <div class="form-group">
                <label class="label-text">
                    Enter the Time of the Event
                </label>
                <input class="form-control" type="time"
                id="event_time" name="event_time">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="EventComments">Comments Related to the Event</label>
            <textarea class="form-control" id="EventComments" name="EventComments"
                placeholder="Comments (at most 200 of characters are accepted)"
                rows="2" minlength="0" maxlength="200">
            </textarea>
            <br>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="lead_text">Enter Fiducial Points Information</p> 
            
            <% for(var idx=0; idx < 4; idx++) { %>
                <div class="row">
                    <button class="btn btn-secondary" data-bs-toggle="collapse"
                        data-bs-target="#collapse_event<%= idx %>"
                        aria-expanded="false" type="button"
                        aria-controls="collapseExample" style="margin-top: 20px;">
                            Enter the Information for Fiducial <%= idx+1 %>
                    </button>
                </div>

                <div class="collapse" id="collapse_event<%= idx %>">
                    <p class="label-text" style="text-align: center;">
                        <em>Information for Fiducial <%= idx+1 %> </em>
                    </p>
                    <div class="form-check">
                        <label class="form-check-label" for="fid<%= idx+1 %>_validity">
                            Validity
                        </label>
                        <input type="checkbox" class="form-check-input"
                        id="fid<%= idx+1 %>_validity" name="fid<%= idx+1 %>_validity"
                        checked>
                    </div>
                    <div class="form-group">
                        <label class="label-text"
                        for="fid<%= idx+1 %>_FiducialPoistionSelect">
                            Position of the Fiducial Point
                        </label>
                        <select class="form-control"
                        id="fid<%= idx+1 %>_FiducialPoistionSelect"
                        name="fid<%= idx+1 %>_position_name">
                            <option selected>Choose...</option>
                            <% for(let idx=0; idx < fiducial_positions.length; idx++){ %>
                                <option>
                                    <%= fiducial_positions[idx]['PositionName'] %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-text">
                            Enter the X Position of the Fiducial Point (in mm)
                            <strong>(Double Values Accepted)</strong>
                        </label>
                        <input type="number" name="fid<%= idx+1 %>_x_position"
                            class="form-control"
                            placeholder="X Position of the Fiducial Point
                            (values between 0 and 800 are accepted)" min="0"
                            max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">
                            Enter the Y Position of the Fiducial Point (in mm)
                            <strong>(Double Values Accepted)</strong>
                        </label>
                        <input type="number" name="fid<%= idx+1 %>_y_position"
                            class="form-control"
                            placeholder="Y Position of the Fiducial Point
                            (values between 0 and 800 are accepted)" min="0"
                            max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">
                            Enter the Z Position of the Fiducial Point (in mm)
                            <strong>(Double Values Accepted)</strong>
                        </label>
                        <input type="number" name="fid<%= idx+1 %>_z_position"
                            class="form-control"
                            placeholder="Z Position of the Fiducial Point
                            (values between 0 and 800 are accepted)" min="0"
                            max="800">
                    </div>
                </div>
                <br>
            <% } %>
        </div>
    </div>
    
    <br>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/createROIEvent"
                name="create_event_for_roi" value="1">
                    Create Event for the ROI
            </button>
        </div>    
    </div>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/createSubframeSample"
                name="create_sample_for_subframe" value="1">
                    Create Sample in the ROI
            </button>
        </div>
    </div>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/submitAndReturnToMain"
                name="submit_the_data_to_db" value="0">
                    Submit the Data to Database <em>and Return to the Main Page</em>
            </button>
        </div>
    </div>
</form>

<form action="/" method="get">
    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                name="cancel_and_return_to_main" value="0">
                    Cancel <em>and Return to the Main Page</em>
            </button>
        </div>
    </div>
</form>

<%- include("../footer") -%>