<%- include("../header") -%>

<!-- create filter -->
<form id="submit_query" method="POST" action='/apply_query'>
    <div class="row twopanel" style="margin-top: 5%;">
        <div class="col-lg-12">
            <label class="label-text">
                    Apply Filters to Query the Database
            </label>
        </div>
    </div>
    <div class="row twopanel">        
        <div class="col-lg-3">
            <select class="form-control" id="filters_facility"
                name="filters_facility">
                <option selected>Choose Facility</option>
                <% for(var idx=0; idx < filters[0].length; idx++) { %>
                    <option>
                        <%= Object.values(filters[0][idx])[0] %>
                    </option>
                <% } %>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="filters_group"
                name="filters_group">
                <option selected>Choose Group</option>
                <% for(var idx=0; idx < filters[1].length; idx++) { %>
                    <option><%= Object.values(filters[1][idx])[0] %></option>
                <% } %>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="filters_type" name="filters_type">
                <option selected>Choose Subframe Type</option>
                <% for(var idx=0; idx < filters[2].length; idx++) { %>
                    <option><%= Object.values(filters[2][idx])[0] %></option>
                <% } %>
            </select>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <input class="form-control" type="date"
                id="filters_date" name="filters_date"
                min="2012-01-01" max="2040-12-31">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 1%;">
        <button class="btn btn-secondary" type="submit" form="submit_query">
            Search
        </button>
    </div>
</form>

<% if (typeof values !== 'undefined') { %>
    <% if (values['Subframe_IDs'].length != 0) { %>
        <div class="row">
            <% for(var idx=0; idx < values['Subframe_IDs'].length; idx++) { %>
                <form method="POST" id="submit_subframe_query"
                    action='/get_subframe_information'>
                    <button class="btn btn-secondary" type="submit"
                    form="submit_subframe_query"
                    name="<%= values['Subframe_IDs'][idx] %>">
                        <%= values['Subframe_IDs'][idx] %>
                    </button>
                </form>    
            <% } %>
        </div>
    <% } %>
<% } %>

<%- include("../footer") -%>