<%- include("../header") -%>

<div class="row twopanel">
    <div class="col-lg-12">
        <h1 class="site_msg" style="text-align: center;">
            Information for the Subframe <%= subframe_id %>
        </h1>
    </div>
</div>

<div class="row twopanel">
    <div class="row">
        <table class="table">
            <tbody>
                <% for(var idx=0; idx < Object.keys(all_subframe_information['subframe']).length; idx++) { %>
                    <tr>
                        <th width="50%">
                            <%= Object.keys(all_subframe_information['subframe'])[idx] %>
                        </th>
                        <% if (Object.values(all_subframe_information['subframe'])[idx]) { %>
                        <td width="50%">
                            <%= Object.values(all_subframe_information['subframe'])[idx] %>
                        </td>
                        <% } else{ %>
                        <td width="50%">
                            -
                        </td>
                        <% } %>    
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<% if (typeof all_subframe_information['fiducials'] !== 'undefined') { %>
    <% if (all_subframe_information['fiducials'].length > 0) { %>
        <div class="row twopanel">
            <div class="col-lg-12">
                <h1 class="site_msg" style="text-align: center;">
                    Fiducials
                </h1>
            </div>
        </div>

        <div class="row twopanel">
            <% for(var idx=0; idx < 3; idx++) { %>
                <div class="row">
                    <button class="btn btn-secondary" data-bs-toggle="collapse"
                    data-bs-target="#collapse_fiducial<%= idx %>" aria-expanded="false"
                    aria-controls="collapseExample" style="margin-top: 20px;">
                        Fiducial <%= idx+1 %>
                    </button>
                </div>

                <div class="collapse" id="collapse_fiducial<%= idx %>">
                    <div class="row">
                        <table class="table">
                            <tbody>
                                <% for(var i=0; i < Object.keys(all_subframe_information['fiducials'][idx][0]).length; i++) { %>
                                    <tr>
                                        <th width="50%">
                                            <%= Object.keys(all_subframe_information['fiducials'][idx][0])[i] %>
                                        </th>
                                        <% if (Object.keys(all_subframe_information['fiducials'][idx][0])[i]) { %>
                                        <td width="50%">
                                            <%= Object.values(all_subframe_information['fiducials'][idx][0])[i] %>
                                        </td>
                                        <% } else{ %>
                                        <td width="50%">
                                            -
                                        </td>
                                        <% } %>    
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
<% } %>

<% if (typeof all_subframe_information['events'] !== 'undefined') { %>
    <% if (all_subframe_information['events'].length > 0) { %>
        <div class="row twopanel">
            <div class="col-lg-12">
                <h1 class="site_msg" style="text-align: center;">
                    Events
                </h1>
            </div>
        </div>

        <div class="row twopanel">
            <% for(var idx=0; idx < all_subframe_information['events'].length; idx++) { %>
                <div class="row">
                    <button class="btn btn-secondary" data-bs-toggle="collapse"
                        data-bs-target="#collapse_event<%= idx %>" aria-expanded="false"
                        aria-controls="collapseExample" style="margin-top: 20px;">
                            Event <%= idx+1 %>
                    </button>
                </div>

                <div class="collapse" id="collapse_event<%= idx %>">
                    <div class="row">
                        <table class="table">
                            <tbody>
                                <% for(var i=0; i < Object.keys(all_subframe_information['events'][idx]).length; i++) { %>
                                    <tr>
                                        <th width="50%">
                                            <%= Object.keys(all_subframe_information['events'][idx])[i] %>
                                        </th>
                                        <% if (Object.keys(all_subframe_information['events'][idx])[i]) { %>
                                        <td width="50%">
                                            <%= Object.values(all_subframe_information['events'][idx])[i] %>
                                        </td>
                                        <% } else{ %>
                                        <td width="50%">
                                            -
                                        </td>
                                        <% } %>    
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
<% } %>

<% if (typeof all_subframe_information['rois'] !== 'undefined') { %>
    <% if (all_subframe_information['rois'].length != 0) { %>
        <div class="row twopanel">
            <div class="col-lg-12">
                <h1 class="site_msg" style="text-align: center;">
                    Region(s) of Interest (ROI)
                </h1>
            </div>
        </div>

        <% if (all_subframe_information['rois'].length < 5) { %>
            <div class="row twopanel">
                <% for(var idx=0; idx < all_subframe_information['rois'].length; idx++) { %>
                    <div class="row twopanel">
                        <form method="POST" id="submit_roi_query"
                            action='/show_roi_information'>
                            <div class="row">
                                <button class="btn btn-secondary" type="submit"
                                form="submit_roi_query"
                                name="ROI_<%=idx %>">
                                    ROI <%=idx+1 %> %>
                                </button>
                            </div>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div class="row twopanel">
                <% for(var idx=0; idx < all_subframe_information['rois'].length; idx++) { %>
                    <div class="col-lg-3">
                        <form method="POST" id="submit_roi_query"
                            action='/show_roi_information'>
                            <button class="btn btn-secondary" type="submit"
                            form="submit_roi_query"
                            name="ROI_<%=idx %>">
                                ROI <%=idx+1 %> %>
                            </button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>
    <% } %>
<% } %>

<% if (typeof all_subframe_information['targetplaylist'] !== 'undefined') { %>
    <% if (all_subframe_information['targetplaylist'].length != 0) { %>
        <div class="row twopanel">
            <div class="col-lg-12">
                <h1 class="site_msg" style="text-align: center;">
                    Information About Target Playlist(s)
                </h1>
            </div>
        </div>

        <div class="row twopanel">
            <% for(var idx=0; idx < all_subframe_information['targetplaylist'].length; idx++) { %>
                <div class="row">
                    <button class="btn btn-secondary" data-bs-toggle="collapse"
                        data-bs-target="#collapse_target_playlist<%= idx %>" aria-expanded="false"
                        aria-controls="collapseExample" style="margin-top: 20px;">
                            Target Playlist <%= idx+1 %>
                    </button>
                </div>

                <div class="collapse" id="collapse_target_playlist<%= idx %>">
                    <div class="row">
                        <table class="table">
                            <tbody>
                                <% for(var i=0; i < Object.keys(all_subframe_information['targetplaylist'][idx]).length; i++) { %>
                                    <tr>
                                        <th width="50%">
                                            <%= Object.keys(all_subframe_information['targetplaylist'][idx])[i] %>
                                        </th>
                                        <% if (Object.keys(all_subframe_information['targetplaylist'][idx])[i]) { %>
                                        <td width="50%">
                                            <%= Object.values(all_subframe_information['targetplaylist'][idx])[i] %>
                                        </td>
                                        <% } else{ %>
                                        <td width="50%">
                                            -
                                        </td>
                                        <% } %>    
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <% if (typeof all_subframe_information['targetplaylist']['targets_in_playlist'] !== 'undefined') { %>
                        <% if (all_subframe_information['targetplaylist']['targets_in_playlist'].length > 0) { %>
                            <div class="row twopanel">
                                <div class="col-lg-12">
                                    <h1 class="site_msg" style="text-align: center;">
                                        List of Targets in the Target Playlist 1
                                    </h1>
                                </div>
                            </div>
                    
                            <div class="row twopanel">
                                <% for(var idx=0; idx < all_subframe_information['targetplaylist']['targets_in_playlist'].length; idx++) { %>
                                    <div class="row">
                                        <button class="btn btn-secondary" data-bs-toggle="collapse"
                                            data-bs-target="#collapse_target<%= idx %>" aria-expanded="false"
                                            aria-controls="collapseExample" style="margin-top: 20px;">
                                                Target <%= idx+1 %>
                                        </button>
                                    </div>
                    
                                    <div class="collapse" id="collapse_target<%= idx %>">
                                        <div class="row">
                                            <table class="table">
                                                <tbody>
                                                    <% for(var i=0; i < Object.keys(all_subframe_information['targetplaylist']['targets_in_playlist'][idx]).length; i++) { %>
                                                        <tr>
                                                            <th width="50%">
                                                                <%= Object.keys(all_subframe_information['targetplaylist']['targets_in_playlist'][idx])[i] %>
                                                            </th>
                                                            <% if (Object.keys(all_subframe_information['targetplaylist']['targets_in_playlist'][idx])[i]) { %>
                                                            <td width="50%">
                                                                <%= Object.values(all_subframe_information['targetplaylist']['targets_in_playlist'][idx])[i] %>
                                                            </td>
                                                            <% } else{ %>
                                                            <td width="50%">
                                                                -
                                                            </td>
                                                            <% } %>    
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
    <% } %>
<% } %>

<%- include("../footer") -%>